{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>유진's portfolio</title>
        <meta charset='utf-8'>
        <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/style.css' %}">
    </head>

    <body>
        <div class="header">
            <h1>유진의 포트폴리오 사이트~~</h1>
        </div>
        <div class="main">
            <p>메인부분입니다.</p>
            <a href='hw1'>첫번째 페이지 보기</a>
            <a href="https://www.naver.com/">네이버</a>
        </div>
        <div class="footer">
            <h6>여기는 바닥입니다. 이메일: ~@naver.com</h6>
            <h6>copyright @@@</h6>
        </div>
        
    </body>

</html>


