{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>YouTube레이아웃</title>
        <meta charset='utf-8'>
        <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/youtubestyle.css' %}">
    
    </head>

    <body>
        <header><!--header태그입니다~-->
            <div class="logo">
                <img src="{% static 'KakaoTalk_20200326_141036962_02.jpg' %}">
                <img src="{% static 'KakaoTalk_20200326_141036962_01.jpg' %}">
            </div>
            <div class="search">
                <input type="text" placeholder="검색">
                <button><img style="width:40px;" src="https://i.pinimg.com/originals/fe/e8/7d/fee87d01d52072f0589c4de685215fdb.png"></button>
            </div>
            <img src="{% static '유튭프로필.jpg' %}">
        </header>
        
        <section>
            <nav>
                <ul><!--ol은 숫자, ul은 점-->
                    <li>홈</li>
                    <li>인기</li>
                    <li>구독</li>
                    <hr>
                    <li>보관함</li>
                    <li>시청기록</li>
                    <li>나중에 볼 동영상</li>
                    <li>좋아요 표시한 동영상</li>
                    <hr>
                    <li>구독</li>
                    <li>&nbsp영국남자</li>
                    <li>&nbsp+ 채널 탐색</li>
                    <hr>
                    <li>YOUTUBE더보기</li>
                    <li>&nbspYouTubePremium</li>
                    <li>&nbspYouTube영화</li>
                    <li>&nbsp게임</li>
                    <li>&nbsp실시간</li>
                    <hr>
                    <li>설정</li>
                    <li>신고 기록</li>
                    <li>고객센터</li>
                    <li>의견 보내기</li>
                    <hr>
                </ul>
            </nav>

            <div class="inner">
                <div class="ad">
                    <iframe width="470" height="300" src="https://www.youtube.com/embed/GE1xx7TqCkQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <img style="width:880px; height:300px;" src="{% static 'youtubeadd.jpg' %}">
                </div>
                <h2>&nbsp맞춤 동영상</h2>
                <div class="videos">
                    <iframe width="335" height="180" src="https://www.youtube.com/embed/NOJ0ZGJlXy8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <iframe width="335" height="180" src="https://www.youtube.com/embed/t4Es8mwdYlE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <iframe width="335" height="180" src="https://www.youtube.com/embed/o3bQPvDfQGU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <iframe width="335" height="180" src="https://www.youtube.com/embed/r5vBbfy4960" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <div class="content">
                    <div class="content1">
                        <h5><span style="color: black">[SUB] 겨울에 먹으면 더 맛있는 음식</span></h5>
                        <h5><span style="color: gray">신세경 sjkuksee</span></h5>
                        <h5><span style="color: gray">조회수 242만회·2개월 전</span></h5>
                    </div>
                    <div class="content2">
                        <h5><span style="color: black">분식집st 떡 볶 이</span></h5>
                        <h5><span style="color: gray">백종원의 요리비책 Paik's Cuisine</span></h5>
                        <h5><span style="color: gray">조회수 335만회·1개월 전</span></h5>
                    </div>
                    <div class="content3">
                        <h5><span style="color: black">미치도록 여행가고 싶어지는. 노오란 트램이 덜그덕 지나가는, 리스본에서 생긴 일 [여락이들]</span></h5>
                        <h5><span style="color: gray">여락이들_</span></h5>
                        <h5><span style="color: gray">조회수 11만회·1주 전</span></h5>
                    </div>
                    <div class="content4">
                        <h5><span style="color: black">분명 종치기를 알려줬는데 뭔가 이상하다...?</span></h5>
                        <h5><span style="color: gray">솔라시도 SolLa</span></h5>
                        <h5><span style="color: gray">조회수 5.1만회·1주 전</span></h5>
                    </div>
                </div>
            </div>
    
        </section>
        <footer>
            <h6>정보 프레스 저작권 문의하기</h6>
            <h6>크리에이터 광고 개발자<br><br></h6>
            <h6>이용약관 개인정보 보호</h6>
            <h6>정책 및 안전</h6>
            <h6>새로운 기능 테스트하기<br><br></h6>
            <h6>ⓒ2020 Google LLC</h6>
        </footer>
    </body>

</html>