{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>유진's portfolio</title>
        <meta charset='utf-8'>
        <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/youtubestyle.css' %}">
    
    </head>

    <body>
        <header><!--header태그입니다~-->
            <div class="logo">
                <img src="{% static 'KakaoTalk_20200326_141036962_02.jpg' %}">
                <img src="{% static 'KakaoTalk_20200326_141036962_01.jpg' %}">
            </div>
            <div class="search">
                <input type="text" placeholder="검색">
                <button><img style="width:45px;" src="https://i.pinimg.com/originals/fe/e8/7d/fee87d01d52072f0589c4de685215fdb.png"></button>
            </div>
            <img src="{% static '유튭프로필.jpg' %}">
        </header>
        
        
    </body>

</html>