/*css의 주석입니다. */
/* !import 이부분을 우선순위로 쓴다 */
*{
    background-color: beige;
}
header{
    box-sizing:border-box;
    height:50px;
    /*width:400px;*/
    background-color:skyblue;
    color:blue;
    border-radius: 10px 10px 10px 10px;
    border-color: hotpink;
    border-style: dashed;
    border-width:10px;
    border-spacing:10px;
    
}
#hh{
    background-color:red;
}
section{
    display:flex;
    /*가로정렬:space-around다띄엄띄엄,space-between사이띄엄띄엄,flex-start는 왼쪽정렬, center 가운데정렬, flex-end 오른쪽정렬 */
    justify-content:space-between;
    /*세로정렬:center가운데, flex-start, flex-end*/
    align-items:flex-start;
    
    margin: 10px auto;
    background-color:pink;
    color:blueviolet;
    height:500px;
    
}
nav{
    background-color:orange;
    width:100px;
    height:100px;
}
article{
    background-color:purple;
    width:400px;
    height:100px;
}
aside{
    background-color:orangered;
    width:200px;
    height:100px;
}
footer{
    background-color:yellowgreen;
    color:green;
    height:100px;
}