/*css의 주석입니다. */
body{
    margin:0; /* 전체화면 꽉차게 */
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:50px;
    /*width:400px;*/
    
}

.search{
    height: 40px;
    width:400px;
    border: 1px solid gray;
    background:white;
}
input{
    font-size:16px;
    width:325px;
    padding:10px;
    border:0px;
    outline:none;
    float:left;
}
button{
    width:50px;
    height:100%;
    margin: 5 auto;
    padding: 5 auto;
    border:0px;
    background:gray;
    outline:none;
    float:right;
    color:black;
}

section{
    display:flex;
    margin: 0 10px 0 0;
    
    background-color:white;
    color:gray;
    
}
nav{
    width: 200px;
}
ul{
    margin: 0 0 0 10px;
    padding: 0 0 0 10px;
    list-style:none;
}
li{
    margin:10px 0 10px 0;

}
.inner{
    width:100%;
    background-color:gainsboro;
    color:black;
    padding:0 10px 0 10px;

}
.ad{
    width: 100%;
    background-color:gainsboro;
    margin:5px 0 0 10px;
    display:flex;
}
.videos{
    width: 100%;
    background-color:gainsboro;
    margin:0 0 0 10px;
    display:flex;
}
iframe{
    margin: 0 20px 5px 0;
}


footer{
    background-color:yellowgreen;
    color:green;
    height:100px;
}